.composition {
	position: relative;
	height: 210px;
}
.composition .image {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 500px;
	height: 200px;
	background-color: #fff;
}
.composition .text {
	left: 25px;
	top: 120px;
	position: absolute;
	width: 450px;
	height: 150px;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
	color: white;
}
.composition .fg img{
	height: 150px;
	width: 550px;
}